{% extends 'base.html.twig' %}

{% block title %}Change your name{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ username }}! ✅</h1>

    THIS IS THE ChangeMyName PAGINA :
    <!-- path('showName verwijst naar zo'n grijs routerpad op de Controller page en stuurt u zo door naar de juiste pagina')-->
    <form method="post" action="{{ path('change-name')}}">
        <label for="username"> Please add your name here :</label>
        <input type="text" name="username" id="username" require>
        <input type="submit" name="submit">
    </form>
    <ul>
        <li>Your controller at <code><a href="{{ '/var/www/routingmvc/src/Controller/LearningController.php'|file_link(0) }}">src/Controller/LearningController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/var/www/routingmvc/templates/learning/index.html.twig'|file_link(0) }}">templates/learning/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
